{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.publishedYear) }}
    {{ form_row(form.author) }}
    <button class="btn btn-primary">Фільтрувати</button>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>PublishedYear</th>
                <th>Isbn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publishedYear }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path('app_book_index', { page: currentPage - 1, itemsPerPage: itemsPerPage }) }}">Previous</a>
        {% endif %}
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        {% if currentPage < totalPages %}
            <a href="{{ path('app_book_index', { page: currentPage + 1, itemsPerPage: itemsPerPage }) }}">Next</a>
        {% endif %}
    </div>

    <form method="get">
        <label for="itemsPerPage">Items per page:</label>
        <select name="itemsPerPage" onchange="this.form.submit()">
            <option value="2" {% if itemsPerPage == 2 %}selected{% endif %}>2</option>
            <option value="5" {% if itemsPerPage == 5 %}selected{% endif %}>5</option>
            <option value="10" {% if itemsPerPage == 10 %}selected{% endif %}>10</option>
        </select>
    </form>

{% endblock %}
